body{
  background-color: rgb(233, 239, 239);
}
.title {
  text-align: center;
}
.main-container{
  width: 100%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  height: 100vw;
}
.editor-container{
  width: 50%;
 

}
.editor-container textarea{
  width: 90%;
  height: 100vw;

}
.render-container{
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;  
}